@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #333;
  margin: 0;
  padding: 0 20px;
}

.container {
  display: flex;
  height: 100vh;
  padding: 0 20px;
}

.sidebar {
  width: 25em;
  padding: 15px;
}

.sidebar h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.month-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.month-button:hover {
  background: #0056b3;
}

.content {
  flex-grow: 1;
  padding: 15px;
  background-color: #ffffff;
  border-left: 1px solid #aaa;
  overflow-y: auto;
  padding-left: 3em;
  margin-left: 2em;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.alternate-journal-summary {
  padding-top:5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f4f4f4;
  font-weight: bold;
}

tfoot td {
  font-weight: bold;
  background: #eaeaea;
}

tbody tr:hover {
  background: #f9f9f9;
}
